.idea
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
config/runtime.yaml
data.sqlite3
.vagrant/
out/
*.tgz
screenshot.png
preview.gif
Vagrantfile
vagrant/
provision.sh
deploy_hooks/
appspec.yml
Dockerfile
docker-compose.yml
*.rdb
